<div class="container-fluid">
  <div class="row flex-xl-nowrap">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
           style="width: 280px; height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4">{{title}}</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link active" aria-current="page">
              Dashboard
            </a>
          </li>
          <li>
            <a routerLink="/heroes" class="nav-link text-white">Tasks</a>
          </li>
        </ul>
      </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
      <router-outlet></router-outlet>
    </main>
    <div class="d-none d-xl-block col-xl-2 bd-toc">
      <app-messages></app-messages>
    </div>
  </div>
</div>
